<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'verify' %}">Verify Certificate</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'tverify' %}">Verify Transcript</span></a>
            </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        {% endif %}
      </ul>
      <div class="form-inline my-2 my-lg-0">
        {% comment %} <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> {% endcomment %}
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-success my-2 mr-2 my-sm-0" type="submit">Login</a>
        <a href="{% url 'register' %}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>