<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        @media print {
            body * {
                visibility: hidden;
            }
            #certificate, #certificate * {
                visibility: visible;
            }
            #certificate {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div id="certificate" class="col-md-12 text-center mt-5">
                <p>Certificate ID: {{profile.certificate_id}}</p>
                <p>Name: {{profile.firstname}} {{profile.lastname}}</p>
                <p>Email: {{profile.email}}</p>
                <p>Contact: {{profile.contact}}</p>
                <p>Student ID: {{profile.student_id}}</p>
                <p>Graduation Year: {{profile.graduationyear}}</p>
            </div>

        </div>
        <div class="d-flex justify-content-center mt-5">
            <button class="btn btn-primary text-center" onclick="generatePDF()">Print</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script>
        function generatePDF() {
            var pdf = new jsPDF({
                orientation: 'p',
                unit: 'mm',
                format: 'a5',
                putOnlyUsedFonts:true
                });
            pdf.text("Certificate ID: {{profile.certificate_id}}", 10, 10);
            pdf.text("Name: {{profile.firstname}} {{profile.lastname}}", 10, 20);
            pdf.text("Email: {{profile.email}}", 10, 30);
            pdf.text("Contact: {{profile.contact}}", 10, 40);
            pdf.text("Student ID: {{profile.student_id}}", 10, 50);
            pdf.text("Graduation Year: {{profile.graduationyear}}", 10, 60);
            pdf.save("certificate.pdf");
        }
    </script>
</body>
</html>