<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        @media print {
            body * {
                visibility: hidden;
            }
            #certificate, #certificate * {
                visibility: visible;
            }
            #certificate {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div id="certificate" class="col-md-12 text-center mt-5">
                <p>Certificate ID: {{ profile.certificate_id }}</p>
                <p>Transcript ID: {{ profile.transcript_id }}</p>
                <p>First Name: {{ profile.firstname }}</p>
                <p>Last Name: {{ profile.lastname }}</p>
                <p>Username: {{ profile.username }}</p>
                <p>Email: {{ profile.email }}</p>
                <p>Contact: {{ profile.contact }}</p>
                <p>Student ID: {{ profile.student_id }}</p>
                <p>Graduation Year: {{ profile.graduationyear }}</p>
            </div>
            <div id="show-pdf" class="d-none col-md-12 text-center mt-5"></div>

        </div>
        <div class="d-flex justify-content-center mt-5">
            <button onclick="viewpdf()" class="btn btn-primary">View Certificate</button>
            <a href="{% url 'pdf' %}" class=" ml-2 btn btn-primary">Download Certificate</a>
            <button onclick="viewtpdf()" class="btn ml-2 btn-primary">View Transcript</button>
            <a href="{% url 'tpdf' %}" class=" ml-2 btn btn-primary">Download Transcript</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script>
        function viewpdf() {
            var pdf = new jsPDF();
            pdf.text("Certificate ID: {{profile.certificate_id}}", 10, 10);
            pdf.text("Name: {{profile.firstname}} {{profile.lastname}}", 10, 20);
            pdf.text("Email: {{profile.email}}", 10, 30);
            pdf.text("Contact: {{profile.contact}}", 10, 40);
            pdf.text("Student ID: {{profile.student_id}}", 10, 50);
            pdf.text("Graduation Year: {{profile.graduationyear}}", 10, 60);

            const showPDF = document.getElementById('show-pdf');
            showPDF.classList.remove('d-none');
            const certificate = document.getElementById('certificate');
            certificate.classList.add('d-none');

            // Generate data URL from the jsPDF document
            const dataUrl = pdf.output('datauristring');

            // Create an <iframe> element
            const iframe = document.createElement('iframe');
            iframe.src = dataUrl;
            iframe.width = '100%';
            iframe.height = '600px';

            // Clear any existing content in the showPDF element
            showPDF.innerHTML = '';

            // Append the <iframe> to the showPDF element
            showPDF.appendChild(iframe);
            

        }

        function viewtpdf() {
            var pdf = new jsPDF();
            pdf.text("Transcript ID: {{profile.transcript_id}}", 10, 10);
            pdf.text("Name: {{profile.firstname}} {{profile.lastname}}", 10, 20);
            pdf.text("Email: {{profile.email}}", 10, 30);
            pdf.text("Contact: {{profile.contact}}", 10, 40);
            pdf.text("Student ID: {{profile.student_id}}", 10, 50);
            pdf.text("Graduation Year: {{profile.graduationyear}}", 10, 60);

            const showPDF = document.getElementById('show-pdf');
            showPDF.classList.remove('d-none');
            const certificate = document.getElementById('certificate');
            certificate.classList.add('d-none');

            // Generate data URL from the jsPDF document
            const dataUrl = pdf.output('datauristring');

            // Create an <iframe> element
            const iframe = document.createElement('iframe');
            iframe.src = dataUrl;
            iframe.width = '100%';
            iframe.height = '600px';

            // Clear any existing content in the showPDF element
            showPDF.innerHTML = '';

            // Append the <iframe> to the showPDF element
            showPDF.appendChild(iframe);
            

        }
    </script>
</body>
</html>