<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-center">
        <form class="card mt-5 p-5" style="min-width: 600px;" action="{% url 'register' %}" method="POST">{% csrf_token %}
            {% comment %} 1. First Name
            2. Last Name
            3. Username
            4. Email
            5. Contact Number
            6. Address
            7. Graduation Year
            8. Password
            9. Confirm Password {% endcomment %}
            <h1 class="text-center">Register</h1>
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input required type="text" class="form-control" placeholder="Enter First Name" id="firstname" name="firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input required type="text" class="form-control" placeholder="Enter Last Name" id="lastname" name="lastname">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input required type="text" class="form-control" placeholder="Enter Username" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input required type="text" class="form-control" placeholder="Enter Email Address" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="contactnumber">Contact Number</label>
                <input required type="text" class="form-control" placeholder="Enter Contact Number" id="contactnumber" name="contact">
            </div>
            <div class="form-group">
                <label for="address">Student ID</label>
                <input required class="form-control" placeholder="Enter Student ID" id="address" name="address">
            </div>
            <div class="form-group">
                <label for="graduationyear">Graduation Year</label>
                <input required type="text" class="form-control" placeholder="Enter Graduation Year" id="graduationyear" name="graduationyear">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input required type="password" class="form-control" placeholder="Enter Password" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input required type="password" class="form-control" placeholder="Enter Confirm Password" id="confirmpassword" name="confirmpassword">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Register</button>
            </div>
            <a href="/login">Already have an account? Login</a>

        </form>
    </div>
</body>
</html>